<section class="cart-section">
    <div class="cart-items-container" id="cart-items-container">
        <div class='cart-note'>
            <img src='/images/lowest-price.png'>
            <span>You wont find it cheaper any where</span>
        </div>
    </div>
    <div class='checkout'>
        <div class='promocode'>Promocode can be applied on payment page</div>
        <button onclick='closeModal()'>Proceed to Checkout</button>
    </div>
</section>
<script>
    function closeModal() {
        $('#myModal').hide();
    }
</script>