<section class='no-items router-content'>
    <div>
        <h4>No items in your cart</h4>
        <span>Your favorite items are just a click away</span>
    </div>
    <button class='btm-fixed-btn' onclick="window.location.pathname = 'products/all' ">Start Shopping</button>
</section>